* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    border: 1px solid white;
}

.add-task {
    margin-top: 50px;
}

#input-task {
    padding: 10px;
    width: 300px;
}

.add-btn {
    padding: 10px 20px;
    background: transparent;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

.add-btn:active {
    transform: scale(0.95);
}

.tasks-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
}

.li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    padding: 8px;
    background-color: white;
}

.delete-btn {
    padding: 10px 20px;
    background-color: blueviolet;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

.delete-btn:active {
    transform: scale(0.95);
}
