* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background: url(images/bg.jpg)no-repeat center center/cover;
}

.cards-container {
    position: absolute;
    bottom: 150px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.card {
    width: 180px;
    height: 250px;
    border-radius: 6px;
}

.card-1 {
    background: url(images/img-1.jpg)no-repeat center center/cover;
}
.card-2 {
    background: url(images/img-2.jpg)no-repeat center center/cover;
}
.card-3 {
    background: url(images/img-3.jpg)no-repeat center center/cover;
}
.card-4 {
    background: url(images/img-4.jpg)no-repeat center center/cover;
}

.btn {
    position: absolute;
    bottom: 150px;
    left: 80px;
}

.pre-btn,
.next-btn {
    background-color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.pre-btn:active,
.next-btn:active {
    transform: scale(0.90);
}