* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.container {
    width: 1000px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide .item {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 100px;
    right: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.buttons {
    position: absolute;
    bottom: 50px;
    left: 50%;
}

.buttons i {
    font-size: 1.2rem;
}

.buttons button {
    padding: 12px 18px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

.buttons button:active {
    transform: scale(0.94);
}